@import "tailwindcss";

@theme {
   --breakpoint-xs: 30rem;
   --breakpoint-lg: 68rem;
   --breakpoint-2xl: 100rem;
   --breakpoint-3xl: 120rem;
}

@plugin "daisyui" {
   themes: light --default;
}

@plugin "daisyui/theme" {
   name: "light";
   default: true;
   --color-primary: #fff;
   --color-secondary: #f5edd2;
   --color-accent: #8b9fdd;
   --color-accent-content: #6a7aaa;
   --color-neutral: #1f2937;
   --color-base-100: #fff;
   --color-base-200: #fff;
   --color-base-300: #fff;
   --color-base-content: #222;
}

:root {
   --font-multiplier: 1;
   --color-secondary: #f7efd4;
}

html {
   font-size: calc(16px * var(--font-multiplier));
}

@layer utilities {
   .text-xs {
      @apply text-[calc(0.75rem*var(--font-multiplier))];
   }

   .text-sm {
      @apply text-[calc(0.875rem*var(--font-multiplier))];
   }

   .text-base {
      @apply text-[calc(1rem*var(--font-multiplier))];
   }

   .text-lg {
      @apply text-[calc(1.125rem*var(--font-multiplier))];
   }

   .text-xl {
      @apply text-[calc(1.25rem*var(--font-multiplier))];
   }

   .text-2xl {
      @apply text-[calc(1.5rem*var(--font-multiplier))];
   }

   .text-3xl {
      @apply text-[calc(1.875rem*var(--font-multiplier))];
   }

   .text-4xl {
      @apply text-[calc(2.25rem*var(--font-multiplier))];
   }
}

@font-face {
   font-family: 'Quarion';
   font-display: swap;
   src: url(../public/fonts/Quarion-Book.ttf) format('truetype');
}

@font-face {
   font-family: 'QuarionItalic';
   font-display: swap;
   src: url(../public/fonts/Quarion-BookItalic.ttf) format('truetype');
}

@layer base {
   body {
      font-family: 'Quarion', sans-serif;
      font-display: swap;
   }

   .italic {
      font-family: 'QuarionItalic', sans-serif;
      font-display: swap;
   }
}

.container {
   max-width: 80rem;
   padding-left: 16px;
   padding-right: 16px;
}

* {
   scrollbar-width: thin;
   scrollbar-color: #8b9fdd #fff;
}

.btn-top {
   border-radius: 50px;
   box-sizing: content-box;
   padding: 0;
   display: flex;
   align-items: center;
   height: 40px;
   width: 160px;
   overflow: hidden;
   clip-path: inset(0 0 0 calc(100% - 39px) round 50px);
   transition: clip-path 0.3s ease-in-out, opacity 0.2s ease;
}

.btn-top svg {
   position: absolute;
   z-index: 40;
   right: 0px;
   flex-shrink: 0;
   transition: right 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
   outline: 1px solid #8b9fdd;
}

.btn-top span {
   opacity: 0;
   z-index: 10;
   white-space: nowrap;
   transition: opacity 0.1s ease-in-out 0.1s;
}

.react-photo-album--image {
   cursor: pointer;
   transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.react-photo-album--image:hover {
   opacity: 0.8;
}

.detailImg {
   max-height: calc(100vh - 148px);
}

@media (width < 80rem) {
   .btn-top:active svg {
      background-color: #f1ac6a;
      color: #6a7aaa;
   }
}

@media (width >=68rem) {
   :root {
      --font-multiplier: 1.1;
   }

   .btn-top:hover {
      cursor: pointer;
      clip-path: inset(0 0 0 0 round 50px);
   }

   .btn-top:hover svg {
      right: calc(100% - 40px);
      background-color: #f1ac6a;
      color: #6a7aaa;
      outline: 1px solid #f1ac6a;
   }

   .btn-top:hover span {
      opacity: 1;
      transition: opacity 0.1s ease-in-out 0.1s;
   }

   .detailImg {
      max-height: calc(100vh - 172px);
   }
}

/* # loader */

.loader {
   width: 40px;
   aspect-ratio: .577;
   clip-path: polygon(0 0, 100% 100%, 0 100%, 100% 0);
   position: relative;
   animation: rotate 2s infinite linear;
   overflow: hidden;
}

.loader-mask {
   clip-path: circle(50% at 50% 50%);
}

.loader:before {
   content: "";
   position: absolute;
   inset: -150% -150%;
   background: repeating-conic-gradient(from 30deg, #6a7aaa 0 60deg, #8b9fdd 0 120deg, #f1ac6a 0 180deg);
   animation: rotate 3s infinite linear;
   animation-direction: reverse;
}

@keyframes rotate {
   100% {
      transform: rotate(360deg)
   }
}