@import "tailwindcss";

@theme {
   --breakpoint-xs: 30rem;
   --breakpoint-lg: 68rem;
   --breakpoint-2xl: 100rem;
   --breakpoint-3xl: 120rem;
}

@plugin "daisyui" {
   themes: light --default;
}

@plugin "daisyui/theme" {
   name: "light";
   default: true;
   --color-primary: #fff;
   --color-secondary: #f5edd2;
   --color-accent: #8b9fdd;
   --color-accent-content: #6a7aaa;
   --color-neutral: #1f2937;
   --color-base-100: #fff;
   --color-base-200: #fff;
   --color-base-300: #fff;
   --color-base-content: #222;
}

:root {
   --font-multiplier: 1;
   --color-secondary: #f7efd4;
}

html {
   font-size: calc(16px * var(--font-multiplier));
}

@layer utilities {
   .text-xs {
      @apply text-[calc(0.75rem*var(--font-multiplier))];
   }

   .text-sm {
      @apply text-[calc(0.875rem*var(--font-multiplier))];
   }

   .text-base {
      @apply text-[calc(1rem*var(--font-multiplier))];
   }

   .text-lg {
      @apply text-[calc(1.125rem*var(--font-multiplier))];
   }

   .text-xl {
      @apply text-[calc(1.25rem*var(--font-multiplier))];
   }

   .text-2xl {
      @apply text-[calc(1.5rem*var(--font-multiplier))];
   }

   .text-3xl {
      @apply text-[calc(1.875rem*var(--font-multiplier))];
   }

   .text-4xl {
      @apply text-[calc(2.25rem*var(--font-multiplier))];
   }
}

@font-face {
   font-family: 'Quarion';
   font-display: swap;
   src: url(../public/fonts/Quarion-Book.ttf) format('truetype');
}

@font-face {
   font-family: 'QuarionItalic';
   font-display: swap;
   src: url(../public/fonts/Quarion-BookItalic.ttf) format('truetype');
}

@layer base {
   body {
      font-family: 'Quarion', sans-serif;
      font-display: swap;
   }

   img {
      content-visibility: auto;
   }
}

.container {
   max-width: 80rem;
   padding-left: 16px;
   padding-right: 16px;
}

* {
   scrollbar-width: thin;
   scrollbar-color: #8b9fdd #fff;
}

.btn-top {
   border-radius: 50px;
   border: 3px solid #6a7aaa;
   box-sizing: content-box;
   padding: 0;
   display: flex;
   align-items: center;
   height: 34px;
   width: 150px;
   overflow: hidden;
   clip-path: inset(0 0 0 calc(100% - 40px) round 50px);
   transition: clip-path 0.3s ease-in-out, opacity 0.2s ease;
}

.btn-top svg {
   position: absolute;
   z-index: 40;
   right: 0px;
   flex-shrink: 0;
   transition: right 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-top span {
   opacity: 0;
   z-index: 10;
   white-space: nowrap;
   transition: opacity 0.1s ease-in-out 0.1s;
}

@media (width < 80rem) {
   .btn-top:active svg {
      background-color: #f1ac6a;
      color: #6a7aaa;
   }
}

@media (width >=68rem) {
   :root {
      --font-multiplier: 1.1;
   }

   .btn-top:hover {
      cursor: pointer;
      clip-path: inset(0 0 0 0 round 50px);
   }

   .btn-top:hover svg {
      right: calc(100% - 34px);
      background-color: #f1ac6a;
      color: #6a7aaa;
   }

   .btn-top:hover span {
      opacity: 1;
      transition: opacity 0.1s ease-in-out 0.1s;
   }
}