@import "tailwindcss";

@theme {
   --breakpoint-xs: 30rem;
   --breakpoint-lg: 68rem;
   --breakpoint-2xl: 100rem;
   --breakpoint-3xl: 120rem;
}

@plugin "daisyui" {
   themes: light --default;
}

@plugin "daisyui/theme" {
   name: "light";
   default: true;
   --color-primary: #fff;
   --color-secondary: #f5edd2;
   --color-accent: #8b9fdd;
   --color-accent-content: #6a7aaa;
   --color-secondary-content: #f39843;
   --color-neutral: #1f2937;
   --color-base-100: #fff;
   --color-base-200: #fff;
   --color-base-300: #fff;
   --color-base-content: #222;
}

:root {
   --font-multiplier: 1;
   --color-primary: #fff;
   --color-secondary: #f5edd2;
   --color-accent: #8b9fdd;
   --color-accent-content: #6a7aaa;
   --color-secondary-dark: #f1ac6a;
   --color-neutral: #1f2937;
   --color-base-100: #fff;
   --color-base-200: #fff;
   --color-base-300: #fff;
   --color-base-content: #222;
}

html {
   font-size: calc(16px * var(--font-multiplier));
}

@layer utilities {
   .text-xs {
      @apply text-[calc(0.75rem*var(--font-multiplier))];
   }

   .text-sm {
      @apply text-[calc(0.875rem*var(--font-multiplier))];
   }

   .text-base {
      @apply text-[calc(1rem*var(--font-multiplier))];
   }

   .text-lg {
      @apply text-[calc(1.125rem*var(--font-multiplier))];
   }

   .text-xl {
      @apply text-[calc(1.25rem*var(--font-multiplier))];
   }

   .text-2xl {
      @apply text-[calc(1.5rem*var(--font-multiplier))];
   }

   .text-3xl {
      @apply text-[calc(1.875rem*var(--font-multiplier))];
   }

   .text-4xl {
      @apply text-[calc(2.25rem*var(--font-multiplier))];
   }
}

@font-face {
   font-family: 'Quarion';
   font-display: swap;
   src: url(../public/fonts/Quarion-Book.ttf) format('truetype');
}

@font-face {
   font-family: 'QuarionItalic';
   font-display: swap;
   src: url(../public/fonts/Quarion-BookItalic.ttf) format('truetype');
}

@layer base {
   body {
      font-family: 'Quarion', sans-serif;
      font-display: swap;
   }

   .italic {
      font-family: 'QuarionItalic', sans-serif;
      font-display: swap;
   }
}

.container {
   max-width: 80rem;
   padding-left: 16px;
   padding-right: 16px;
}

* {
   scrollbar-width: auto;
   scrollbar-color: #8b9fdd #fff;
}

.btn-top {
   border-radius: 50px;
   box-sizing: content-box;
   padding: 0;
   display: flex;
   align-items: center;
   height: 40px;
   width: 40px;
   overflow: hidden;
   transition: width 0.3s ease, opacity 0.3s ease;
   background-color: var(--color-accent-content);
}

.btn-top svg {
   position: absolute;
   z-index: 40;
   right: 0px;
   flex-shrink: 0;
   transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
   outline: none;
}

.btn-top span {
   opacity: 1;
   white-space: nowrap;
   position: absolute;
   right: 16px;
}

.btn-main {
   background-color: var(--color-accent);
   color: white;
   padding: 6px 20px;
   border-radius: 50px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.btn-main::before {
   width: 100%;
   height: 100%;
   background: #6A7AAA;
   background: linear-gradient(120deg, rgba(255, 255, 255, 0) 39%, var(--color-secondary-dark) 40%, var(--color-secondary-dark) 75%, rgba(255, 255, 255, 0) 76%);
   content: '';
   position: absolute;
   top: 0px;
   transform: translateX(-140%);
   z-index: 25;
   transition: transform 0.5s ease;
}

.btn-main::after {
   width: 150%;
   height: 100%;
   background: #6A7AAA;
   background: linear-gradient(120deg, var(--color-accent-content) 69%, rgba(255, 255, 255, 0) 70%);
   content: '';
   position: absolute;
   top: 0px;
   transform: translateX(-135%);
   z-index: 0;
   transition: transform 0.5s ease;
}

.react-photo-album--image {
   cursor: pointer;
   transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.react-photo-album--image:hover {
   opacity: 0.8;
}

.detailImg {
   max-height: calc(100vh - 148px);
}

.navShadow {
   box-shadow: 0px 6px 6px 0px #22222255;
}

.logo-link {
   position: relative;
   display: inline-block;
}

.logo-link .logo-hover {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.2s ease;
}

.logo-main {
   opacity: 1;
   transition: opacity 0.2s ease;
}

.logo-link:hover .logo-hover {
   opacity: 1;
}

.logo-link:hover .logo-main {
   opacity: 0;
}

@media (width < 80rem) {
   .btn-top:active svg {
      background-color: var(--color-secondary-dark);
      color: #6a7aaa;
   }
}

@media (width >=68rem) {
   :root {
      --font-multiplier: 1.1;
   }

   .btn-top:hover {
      cursor: pointer;
      width: 164px;
      background-color: var(--color-accent-content);
   }

   .btn-top:hover svg {
      transform: translateX(-124px);
      background-color: var(--color-secondary-dark);
      color: #fff;
      outline: none;
   }

   .btn-top:hover span {
      opacity: 1;
      transition: opacity 0.1s ease-in-out 0.1s;
   }

   .btn-main:hover::after {
      transform: translateX(-35%);
   }

   .btn-main:hover::before {
      transform: translateX(20%);
   }

   .detailImg {
      max-height: calc(100vh - 172px);
   }
}

/* # loader */

.loader {
   width: 40px;
   aspect-ratio: .577;
   clip-path: polygon(0 0, 100% 100%, 0 100%, 100% 0);
   position: relative;
   animation: rotate 2s infinite linear;
   overflow: hidden;
}

.loader-mask {
   clip-path: circle(50% at 50% 50%);
}

.loader:before {
   content: "";
   position: absolute;
   inset: -150% -150%;
   background: repeating-conic-gradient(from 30deg, #6a7aaa 0 60deg, #8b9fdd 0 120deg, var(--color-secondary-dark) 0 180deg);
   animation: rotate 3s infinite linear;
   animation-direction: reverse;
}

@keyframes rotate {
   100% {
      transform: rotate(360deg)
   }
}