@import "tailwindcss";

@theme {
   --breakpoint-xs: 30rem;
   --breakpoint-lg: 68rem;
   --breakpoint-2xl: 100rem;
   --breakpoint-3xl: 120rem;
}

@plugin "daisyui" {
   themes: light --default;
}

@plugin "daisyui/theme" {
   name: "light";
   default: true;
   --color-primary: #fff;
   --color-secondary: #f5edd2;
   --color-accent: #8b9fdd;
   --color-accent-content: #6a7aaa;
   --color-neutral: #1f2937;
   --color-base-100: #fff;
   --color-base-200: #fff;
   --color-base-300: #fff;
   --color-base-content: #222;
}

:root {
   --font-multiplier: 1;
   --color-secondary: #f7efd4;
}

html {
   font-size: calc(16px * var(--font-multiplier));
}

@layer utilities {
   .text-xs {
      @apply text-[calc(0.75rem*var(--font-multiplier))];
   }

   .text-sm {
      @apply text-[calc(0.875rem*var(--font-multiplier))];
   }

   .text-base {
      @apply text-[calc(1rem*var(--font-multiplier))];
   }

   .text-lg {
      @apply text-[calc(1.125rem*var(--font-multiplier))];
   }

   .text-xl {
      @apply text-[calc(1.25rem*var(--font-multiplier))];
   }

   .text-2xl {
      @apply text-[calc(1.5rem*var(--font-multiplier))];
   }

   .text-3xl {
      @apply text-[calc(1.875rem*var(--font-multiplier))];
   }

   .text-4xl {
      @apply text-[calc(2.25rem*var(--font-multiplier))];
   }
}

.container {
   max-width: 80rem;
   padding-left: 16px;
   padding-right: 16px;
}

@media (width <= 40rem) {
   .container {
      padding: 0px 16px;
   }
}

@media (width >= 68rem) {
   :root {
      --font-multiplier: 1.1;
   }
}